@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    background: #758AD9;
    font-family: 'Comfortaa', cursive;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 80px;
    color: #23272A;
    font-weight: 900;
    font-family: cursive;
}

#main-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    border: 6px solid #23272A;
    border-radius: 14px;
}

#grid div {
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
}

.hover-effect{
    background: black;
}

#box{
    width: 150px;
    height: 270px;
    background: #2C2F33;
    border: 6px solid #23272A;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons{
    background: #B9B9B9;
    border: 3px solid #23272A;
    border-radius: 12px;
    font-family: inherit;
    height: 44px;
    transition: 0.1s;
}
.clear{
    width: 62px;
}
.rainbow{
    width: 122px;
}
.eraser{
    background: #f54646;
    width: 108px;
}
.popup{
    transform: scale(1.1);
}
.clicked{
    background: #54be46;
}
