body{
    background-color: #758AD9;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 80px;
    font-family: cursive;
}

#main-container{
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    border: 6px solid #23272A;
    border-radius: 14px;
}

#grid-container div {
    width: 20px;
    height: 20px;
    border: 0.5px solid black;
    }