@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

body{
    font-family: 'Comfortaa', cursive;
}
#myBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

.heading{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 80px;
    color: #ffffff;
    font-weight: 900;
    font-family: fantasy;
}

#main-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: -40px;
}

#grid{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 6px solid #23272A;
    border-radius: 14px;
    width: 500px;
    height: 500px;
    cursor: crosshair;
    overflow: hidden;
}

#grid div {
    width: auto;
    height: auto;
    background-color: white;
}

#box{
    width: 150px;
    height: 338px;
    background: #d3ca06 ;
    border: 6px solid #23272A;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons{
    background: #B9B9B9;
    border: 3px solid #23272A;
    border-radius: 12px;
    font-family: inherit;
    height: 44px;
    transition: 0.1s;
    cursor: pointer;
}
.clear{
    width: 62px;
}
.rainbow{
    width: 122px;
}
.eraser{
    background: #f54646;
    width: 108px;
}
.popup{
    transform: scale(1.1);
}
.clicked{
    background: #54be46;
}
#size{
    color: white;
}
.slider{
    cursor: pointer;
}
#size-display{
    font-weight: bolder;
}
input[type=color] {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.2s;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}